.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#hero-container {
  background-color: yellow;
  object-fit: contain;
  height: auto;
  padding: 20px 0px;
  margin-bottom: 20px;
}

#pokeCard {
  width: 24rem;
  height: auto;
}
